.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #14213d;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #14213d;
  padding: 0.25rem;
  width: 100%;
}

.radioOptions div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radioOptions label,
.radioOptions input {
  display: inline;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: black;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #fca311;
  color: #14213d;
  padding: 0.5rem 1.5rem;
  border: 1px solid #fca311;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover {
  box-shadow: 0 0 0.5em #14213d;
}
.actions button:active {
  background-color: #14213d;
  border-color: #14213d;
  color: #e5e5e5;
}
